.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 15px rgb(0,0,0, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
}
.left-header{
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    align-items: center;
}
.hamburger-logo{
    height: 24px;
}
.youtube-logo{
    height: 24px;
}
.middle-header{
    display: flex;
    flex: 1;
    max-width: 800px;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-button{
    height: 40px;
    width: 60px;
    margin-left: -1px;
    margin-right: 10px;
}
.search-icon{
    height: 25px;
}
.voice-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
}
.voice-icon{
    height: 25px;
}
.right-header{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.upload-button{
    height: 30px;
}
.youtube-apps{
    height:30px
}
.notifications-button{
    height: 30px;
}
.user-profile{
    height:30px
}